.introduct{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .left-image{
    width: 50%;
    height: 838px;
    transition: all 0.75;
  }
  .right{
    width:50% ;
    height: 838px;
    background-color: #fff;
    text-align: center;
    padding-top: 20px;
  }
  .right .logo{
    width: 120px;

  }
  .right .nick-name{
    font-size: 25px;
    margin-top: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
  }
  .right .introduct{
    margin-top: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
  }
  .right-bottom {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .right-bottom .btn{
    width: 180px;
    height: 80px;
    line-height: 70px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #333;
    transition: all 0.7s;
    font-weight: bold;
    box-shadow: 0 0 20px #aaa;

  }
  .btn:hover{
    background-image: linear-gradient(to right,#eee,#aaa);
    border: 1px solid #aaa;
    box-shadow: 0 0 10px #aaa ;
    color: #fff;
    transform: scale(0.9);
  }
  .describe-input{
    width: 400px;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
    outline: none;
    margin-top: 30px;
    box-shadow: 0 0 10 #888;
    animation: on-editor 3.5s linear 0s infinite normal;
  }
  .nick-name-input{
    animation: on-editor 3.5s linear 0s infinite normal;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
  }
  .submit-container{
    position: fixed;
    width: 250px;
    height: 182px;
    background-color: #888;
    opacity: 0.6;
    bottom: 20px;
    right: 20px;
    border-radius: 20px;
    box-shadow: 0  0 10px #888;
  }
  .submit-container .submit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }
.submit .view-btn,.submit .submit-btn{
  width: 80px;
  height: 40px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.submit .view-btn:hover,.submit .submit-btn:hover{
  border:1px solid #fff;
  transform: scale(0.9);
}
.submit .view-btn{
  background-color: #D1B57D;
}
.submit .submit-btn{
  background-color: red;
}
.select-color{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 33px;
  color: red;
  margin-bottom: 10px;
}
.template-name{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  margin-top: 10px;
}
.template-name>input{
  width: 100px; 
  box-shadow: 0  0 10px red;
  padding-left: 10px;
}
.introduct .select-bg{
 width: 180px;
 height: 270px;
 margin: 30px;
 border-radius: 10px;
 box-shadow: 0 0 10px #666;
 transition: all 1s;
}
.introduct .select-bg:hover{
  transform: scale(1.1);
}
.introduct .select-bg-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.introduct .selected{
  border:3px solid red;
}
.btn .cfg-option{
  width: 120px;
  height: 50px;
  overflow: hidden;
  border-radius: 10px;
  outline: none;
  animation: on-editor 3.5s linear 0s infinite normal;
  padding-left: 20px;
}
@keyframes on-editor{
  0%{
      border: 1px solid red;
      box-shadow: 0 0 10px red;
  }
  100%{
      border: 1px solid #fff;
      box-shadow: 0 0 10px #fff;
  }
}
