.app{
    position: relative;
}
.app .banner{
    width: 100%;
    height: 520px;
}
.app .header-logo{
    width: 80px;
    border-radius: 50%;
    margin-left: 40px;
}
.app .header{
    width: 100%;
    /* height: 178px; */
    background-color:#212121;
    position: relative;
}
.app .header .navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.app .header .navbar-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    list-style: none;
    font-weight: bold;
    font-size: 21px;
}
.app .header .navbar-list>li{
    margin-left: 30px;
    border-bottom-color: #212121;
    border-bottom-style: solid;
    padding-bottom: 10px;
    cursor: pointer;
}
.app .header .navbar-list>li.active{
    color: #E2421B;
    border-bottom-width: 2px;
    border-bottom-color: #E2421B;
    border-bottom-style: solid;
    padding-bottom: 10px;
}
.app .header .header-user,.app .header  .none-login {
    position: absolute;
    right: 100px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.app .header .header-user .header-user-logo{
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
 .header-user-btn{
    width:80px;
    height: 40px;
    background-color: red;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
}
.main-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main-container .main-left{
    width: 40px;
    font-size: 25px;
    height: 800px;
    margin-left: 30px;
    color: #fff;
    font-weight: bolder;
    line-height: 200px;
}
.main-container .main-right{
    width: 100%;
    min-height: 800px;
    background-color: #EAF0F7;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main-container .main-left-container{
    width: 120px;
    background-color:#212121 ;
    background-image: linear-gradient(to top,#888,#212121);
}
.login{
    position: fixed;
    left: 0;
    right: 0;
    top: 200px;
    margin: 0 auto;
    width: 600px;
    height: 400px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 20px #FF0000;
    font-family: 'KAITI';
}
.register{
    position: fixed;
    left: 0;
    right: 0;
    top: 200px;
    margin: 0 auto;
    width: 600px;
    height: 490px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 20px #FF0000;
    font-family: 'KAITI';
}
.login .login-title,.register .register-title{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.login .login-item,.register .register-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-top: 40px;
}
.login .login-input,.register .register-input{
    width: 300px;
    height: 40px;
    padding-left: 10px;
}
.login .login-input:focus,.register .register-input:focus{
    outline: 1px solid #FF0000;
    box-shadow: 0 0 10px #FF0000;
}
.login .login-btn,.register .register-btn{
    width: 390px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    background-color: red;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.login .login-btn-cancel,.register .register-btn-cancel{
    width: 390px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    background-color: #888;
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.register .confirm{
    position: relative;
    left: -32px;
}
.my-template{
    width: 100%;
    min-height: 833px;
    max-height: 5000px;
    background-color: #eee;
}
.my-template .none-tip{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 300px;
    text-align: center;
    columns: #999;
    font-family: 'KaiTi';
}
.my-template .none-tip .none-tip-btn{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    background-color: red;
    color: #fff;
    margin-left: 700px;
    margin-top: 20px;
    cursor: pointer;
}
.register-tip{
    color: red;
    text-align: center;
    margin-top: 10px;
}
.my-template-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}